<ion-content>
  <div class="centered-content">
    <div class="title-area">
      <h1 class="title">Client Keeper</h1>
    </div>

    <div class="form-field">
      <mat-form-field class="form-text">
        <input
          matInput
          class="form-input"
          placeholder="Username"
          [(ngModel)]="username"
        />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field class="form-text">
        <input
          matInput
          class="form-input"
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
        />
      </mat-form-field>
    </div>

    <div class="button-container">
      <button
        mat-raised-button
        class="button-text login-button"
        color="primary"
        (click)="login()"
      >
        Login
      </button>
    </div>

    <div class="button-container">
      <button
        mat-raised-button
        class="button-text register-button"
        color="secondary"
        (click)="register()"
      >
        Register
      </button>
    </div>
  </div>
</ion-content>
